{% if site.data.navigation %}
  <!-- <div class="navigation-wrapper">
    <a href="#menu-toggle" id="menu-toggle">{{ site.data.text[site.locale].menu_label | default: 'Menu' }}</a>
    <nav id="primary-nav" class="site-nav animated drop">
      <ul>
        {%- for link in site.data.navigation -%}
          {%- if link.url contains '://' -%}
            {%- assign url = link.url -%}
          {%- else -%}
            {%- assign url = link.url | relative_url -%}
          {%- endif -%}
          <li><a href="{{ url }}">{{ link.title }}</a></li>
        {%- endfor -%}
      </ul>
    </nav>
  </div> -->
  <div class="circle-container">
    <div class="circle">
      <button id="kanga">
        <i class="fas fa-times"></i>
      </button>
      <button id="fongola">
        <i class="fas fa-bars"></i>
      </button>
    </div>
  </div>
  <nav>
    <ul>
      <li><i class="fas fa-home"></i> Accueil</li>
      <li><i class="fas fa-user-alt"></i> A propos</li>
      <li><i class="fas fa-envelope"></i> Recevoir Jesus</li>
    </ul>
  </nav>
  <script>
    const fongola = document.getElementById('fongola')
    const kanga = document.getElementById('kanga')
    const container = document.querySelector('.container')

    fongola.addEventListener('click', () => container.classList.add('lakisa-menu'))

    kanga.addEventListener('click', () => container.classList.remove('lakisa-menu'))
  </script>
{% endif %}
