<time class="page-date dt-published" datetime="{{ page.date | date_to_xmlschema }}">
  {%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
  <a class="u-url" href="{{ entry.url | relative_url }}">{{ page.date | date: date_format }}</a>
  {% if page.updated %}
    <h5 id="last-updated">Updated {{ page.updated | date: date_format }}</span>
  {% endif %}
</time>
<!-- <script>
  fetch("/api/howlongago?updated=2016-12-01T00:00:00")
      .then(data => {
        const lastUpdatedSpan = document.getElementById("last-updated");
        lastUpdatedSpan.innerText = `Last updated ${data}`;

        console.log(`* response: ${JSON.stringify(data)}`);
      });
</script> -->
