<!-- Include the higlight.js library -->
<script src="{{ '/assets/js/plugins/highlight.min.js' | relative_url }}">
    hljs.configure({
            languages: ['javascript', 'ruby', 'python']
        });
</script>

<link rel="stylesheet"
    href="{{ '/assets/css/highlight/default.min.css' | relative_url }}">

<!-- Need to use existing sass for form styles -->
<link href="{{ '/assets/css/quill/quill-custom.css' | relative_url }}" rel="stylesheet"> 

<!-- Include the Quill library -->
<script src="{{ '/assets/js/quill/quill.js' | relative_url }}"></script>

<!-- Include stylesheet -->
<link href="{{ '/assets/css/quill/quill.snow.css' | relative_url }}" rel="stylesheet">  


 


