---
layout: page
---

{{ content }}

<section class="content-container">
    <div class="container">   
        <div class="editor-container">
            <form id = "form-updatepost" class="" method="post" action="/api/UpdatePost">
                <div>
                    <label class="label-title">
                        <input id="updatedTitle" type="text" class="" name="title" placeholder="Enter a title" tabindex="1" required />
                        <span class="required">Title</span>
                    </label>
                </div>
                <div>
                    <label class="label-categories">
                        <input id="updatedCategories" type="text" class="" name="categories" placeholder="Enter categories" tabindex="2" required />
                        <span class="required">Categories</span>
                    </label>
                </div>
                <div>
                    <label class="label-tags">
                        <input id="updatedTags" type="text" class="" name="tags" placeholder="Enter tags" tabindex="3" required />
                        <span class="required">Tags</span>
                    </label>
                </div>
                <div>
                    <label class="label-content">  
                        <span class="required">Content</span>
                    </label>
                    <!-- Create the editor container -->
                    <div id="toast-update-editor" class="toast-editor">        
                    </div>
                </div> 
                <div>
                    <button id="updatepost-button" class="btn btn-demo" type="submit">Update</button>          
                </div> 
            </form>
        </div>
        <div id="review-container">
        </div>   
    </div>
</section> 

 
<script>  
      /* Initialise Toast UI Editor */
      var toastUpdateEditor = new toastui.Editor({
            el: document.querySelector('#toast-update-editor'),
            height: '600px',
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            intialValue: 'Enter your awesome content!'
            //theme: 'dark',
            //plugins: [[codeSyntaxHighlight, { highlighter: Prism }], [colorSyntax], [tableMergedCell]]
        });  
</script>

<script>
    //Get file path from query string
    const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (queryParams, prop) => queryParams.get(prop),
    });
    
    var filePath = params.filePath;
    console.log('Query param: ' + filePath);
    
    //Call api/GetPost to retrieve content of existing post
    var gurl = "/api/GetPost?filePath=" + filePath;
    console.log('url: ' + gurl);

    const gfetchOptions = {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
			        "Accept": "application/json"
                },              
            };
    fetch(gurl, gfetchOptions)
                  .then(response => response.json())
                  .then(data => {
                      if (data)
                       {
                        //var mockdata = '{"title":"Testing","categories":"test","author":"chatGpt","tags":"test","body":"","filePath":null,"frontMatterContent":null,"markdownContent":"# Testcontent","date":"2023-03-10T00:48:30+00:00"}';
                        //data = JSON.parse(mockdata);//mockdata.json();
                        
                        console.log(`* response: ${data}`);
                        console.log(`* response: ${JSON.stringify(data)}`);
                        
                        const titleInput = document.getElementById("updatedTitle"); 
                        titleInput.value = data.title;

                        const categoriesInput = document.getElementById("updatedCategories");
                        categoriesInput.value = data.categories;

                        const tagsInput = document.getElementById("updatedTags");
                        tagsInput.value = data.tags;

                        toastUpdateEditor.setMarkdown(data.body);

                      } else {
                        console.log("Error occurred on api call");
                      }
                  });
     console.log('api/GetPost call complete!');

     //Get signed in user
     function getLoggedInUser(){     
        fetch("/.auth/me")
            .then(response => response.json())
            .then(data => {
                if (data.clientPrincipal) {  
                    const loggedUser = document.getElementById('newPostAuthor');                                  
                    loggedUser.value = `${data.clientPrincipal.userDetails}`;                        
                }
            }); 
        }    

    //Go to Edit post page and populate the retrieved data  
    async function postUpdateFormDataAsJson ( {update_url, updateFormData }){
            const plainFormData = Object.fromEntries(updateFormData.entries());
            const formDataJsonString = JSON.stringify(plainFormData);

            console.log(formDataJsonString);
            console.log(plainFormData);

            const ufetchOptions = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
			        "Accept": "application/json"
                },
                body: formDataJsonString
            };           

            const response = await fetch(update_url, ufetchOptions);

            if(!response.ok){
                const errorMessage = await response.text();
                throw new Error(errorMessage);
            }

            return response.json();
        }

        async function handleFormUpdate(event){
            console.log("update form submit is clicked!");
            event.preventDefault();

            const f = event.currentTarget;
            const update_url = f.action;

            try
            {
                const updateFormData = new FormData(f);

                var utitle = document.getElementById("updatedTitle").value;
                var ucategories = document.getElementById("updatedCategories").value;
                var utags = document.getElementById("updatedTags").value;
                var ubody = toastUpdateEditor.getMarkdown();
                var updatedBy = getLoggedInUser();
               
                console.log(`* editor.getMarkdown: ${ubody}`);                

                updateFormData.append("title", utitle);
                updateFormData.append("categories", ucategories);
                updateFormData.append("tags", utags);
                updateFormData.append("body", ubody);
                updateFormData.append("filePath", filePath);
                updateFormData.append("author", updatedBy);

                const responseData = await postUpdateFormDataAsJson({ update_url, updateFormData });                  
                console.log(`* response after POST: ${JSON.stringify(responseData)}`);        
                
                const reviewContainer = document.getElementById("review-container");  
                reviewContainer.innerHTML = responseData.responseMessage;
                
                if (responseData.isSuccess){
                    const goToPostsLink = document.createElement("a");
                    goToPostsLink.innerText = "here";               
                    goToPostsLink.href = "/posts/";    
                    
                    const postsSpan1 = document.createElement("span");
                    postsSpan1.innerText = "Your updated post will appear ";

                    const postsSpan2 = document.createElement("span");
                    postsSpan2.innerText = " shortly. ";

                    reviewContainer.appendChild(postsSpan1);
                    reviewContainer.appendChild(goToPostsLink);   
                    reviewContainer.appendChild(postsSpan2);
                }
            }
            catch(error){
                console.error(error);
            }
        }
            
        const uform = document.getElementById("form-updatepost");
        uform.addEventListener("submit", handleFormUpdate); 
</script>
