---
layout: page
---

{{ content }}

<!-- Add Toast UI Editor -->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

<section class="content-container">
    <div class="container">   
        <div class="editor-container">
            <form id = "form-newpost" class="" method="post" action="/api/AddNewPost">
                <div>
                    <label class="label-title">
                        <input id="newPostTitle" type="text" class="" name="title" placeholder="Enter a title" tabindex="1" required />
                        <span class="required">Title</span>
                    </label>
                </div>
                <div>
                    <label class="label-categories">
                        <input id="newPostCategories" type="text" class="" name="categories" placeholder="Enter categories" tabindex="2" required />
                        <span class="required">Categories</span>
                    </label>
                </div>
                <div>
                    <label class="label-tags">
                        <input id="newPostTags" type="text" class="" name="tags" placeholder="Enter tags" tabindex="3" required />
                        <span class="required">Tags</span>
                    </label>
                </div>
                <!--<div>
                    <label class="label-content">  
                        <span class="required">Content</span>
                    </label>                    
                    <div id="editor">        
                    </div>
                </div>-->  
                <div>
                    <label class="label-content">  
                        <span class="required">Content</span>
                    </label>
                    <!-- Create the editor container -->
                    <div id="toast-ui-editor" class="toast-editor">        
                    </div>
                </div>  
                <div>
                    <button id="newpost-button" class="btn btn-demo" type="submit">Submit</button>          
                </div>
            </form>
        </div>

        <div id="preview-container">
        </div>            
       
    </div>

     
    <script>        
       /* Initialize Quill editor */
       /*var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
            ['blockquote', 'code-block'],

            [{ 'header': 1 }, { 'header': 2 }],               // custom button values
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
            [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
            [{ 'direction': 'rtl' }],                         // text direction

            [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],            

            [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
            [{ 'font': [] }],
            [{ 'align': [] }],     
            
            [ 'link', 'image', 'formula' ],                   // add image support

            ['clean']                                         // remove formatting button
        ];*/

        /*var quill = new Quill('#editor', {
            theme: 'snow',
            modules: {                           
                toolbar: toolbarOptions,
                syntax: true, //Allows syntax highlighting           
            }
        }); */  
        
        /* Initialise Toast UI Editor */
        var toastEditor = new toastui.Editor({
            el: document.querySelector('#toast-ui-editor'),
            height: '600px',
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            intialValue: 'Enter your awesome content!'
            //theme: 'dark',
            //plugins: [[codeSyntaxHighlight, { highlighter: Prism }], [colorSyntax], [tableMergedCell]]
        });


        async function postFormDataAsJson ( {url, formData }){
            const plainFormData = Object.fromEntries(formData.entries());
            const formDataJsonString = JSON.stringify(plainFormData);

            const fetchOptions = {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
			        "Accept": "application/json"
                },
                body: formDataJsonString
            };

            const response = await fetch(url, fetchOptions);

            if(!response.ok){
                const errorMessage = await response.text();
                throw new Error(errorMessage);
            }

            return response.json();
        }

        async function handleFormSubmit(event){
            console.log("form submit is clicked!");
            event.preventDefault();

            const f = event.currentTarget;
            const url = f.action;

            try
            {
                const formData = new FormData(f);

                var title = document.getElementById("newPostTitle").value;
                var categories = document.getElementById("newPostCategories").value;
                var tags = document.getElementById("newPostTags").value;
                var body = toastEditor.getMarkdown();
                console.log('Content from Toast UI editor -->', body);

                formData.append("title", title);
                formData.append("categories", categories);
                formData.append("tags", tags);
                formData.append("body", body);

                const responseData = await postFormDataAsJson({ url, formData });
                console.log( { responseData });

                const previewContainer = document.getElementById("preview-container");  
                previewContainer.innerHTML = responseData.responseMessage;  

                if (responseData.isSuccess){
                    const goToPostsLink = document.createElement("a");
                    goToPostsLink.innerText = "here";               
                    goToPostsLink.href = "/posts/";    
                    
                    const postsSpan1 = document.createElement("span");
                    postsSpan1.innerText = "Your post will appear ";

                    const postsSpan2 = document.createElement("span");
                    postsSpan2.innerText = " shortly. ";

                    previewContainer.appendChild(postsSpan1);
                    previewContainer.appendChild(goToPostsLink);   
                    previewContainer.appendChild(postsSpan2);
                }

            }
            catch(error){
                console.error(error);
            }
        }
            
        const form = document.getElementById("form-newpost");
        form.addEventListener("submit", handleFormSubmit);            
        
        </script>
    </div>
</section> 
